{% extends 'base/base.html' %}

{% load bootstrap4 %}
{% load socialaccount %}
{% load i18n %}

{% block content %}
<div id="content" class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 mb-5">
                <h2 class="section-title mb-2 text-black">Login</h2>
                <p class="lead">Log in to your account.</p>

                <form method="post" class="p-2 bg-white mb-1" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% if user == 'wrong' %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button class="close" type="button" data-dismiss="alert" aria-label="{% trans 'close' %}">&#215;</button>
                        Invalid Email or Password. Please try Again.
                    </div>
                    {% endif%}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>

                <form action="{% provider_login_url 'google' %}" method="post" class="p-2 bg-white">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        <i class="fab fa-google"></i> Continue with Google
                    </button>
                </form>

                <div class="mt-3">
                    <p>Don't have an account? <a href="{% url 'register' %}">Sign up here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}