{% extends 'base/base.html' %}

{% load bootstrap4 %}  <!-- Add this line to load the bootstrap4 library -->

{% block content %}
<div id="content" class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 mb-5">
                <h2 class="section-title mb-2 text-black">Sign Up</h2>
                <p class="lead">Create an account to get started.</p>
                <form method="post" class="p-5 bg-white" action="{% url 'register' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}  <!-- Use the bootstrap_form tag -->
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
                <div class="mt-3">
                    <p>Already have an account? <a href="#">Login here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
